body {
  align-items: center;
  font-family: 'Google Sans', sans-serif;
  display: flex;
  justify-content: center;
  margin: 40px
}

multi-input {
  display: block;
  margin: 0 20px 20px 0;
}

button {
  background-color: #eee;
  border: 1px solid #ddd;  
  font-size: 16px;
  height: 30px;
  margin: 0 10px 20px 0;
}

label {
  display: block;
  margin: 0 20px 20px 0;
}
